<div style="position: relative;">
    <h1><%- boardtypes[typeId - 1].title %></h1>
    <table class="table table-bordered border-primary">
        <thead>
            <tr>
                <td>작성자</td>
                <td>제목</td>
                <td>날짜</td>
            </tr>
        </thead>
        <tbody>
            <% board.forEach(function (item) { %>
                <% var authorName = "" %>
                <% person.forEach(function (personItem) { %>
                    <% if (personItem.loginid === item.loginid) { %>
                        <% authorName = personItem.name %>
                    <% } %>
                <% }) %>
                <tr>
                    <td><%= authorName %></td>
                    <td><a href="/board/detail/<%= item.board_id %>/1"><%= item.title %></a></td>
                    <td><%= item.date %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <!-- '글쓰기' 버튼을 표 아래에 배치 -->
    <div style="position: absolute; bottom: -40px; right: 20px;">
<% if (level === '01' || (level === '02' && boardtypes.find(type => type.type_id === parseInt(typeId))?.write_YN === 'Y')) { %>
    <a href="/board/create/<%= typeId %>" style="padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none; border-radius: 5px;">글쓰기</a>
<% } %>
</div>

</div>
<% var j = 1;
while (j <= totalPages) { %>
  <span <% if (j == pNum) { %>style="font-weight: bold;"<% } %>>
    <a href="/board/view/<%= typeId %>/<%= j %>"><%= j %></a>
  </span> &nbsp;&nbsp;
<% j++; } %>
</div>
